@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
:root {
    --main-color: rgb(106, 96, 3);
    --secondary-color: rgb(255,228,2);
    --white: white;
    --global-radius: .8rem;
    --global-transition-time: 190ms;
}

* {
    font-family: 'Poppins', sans-serif;
}
body {
    background-image: url(../images/background-image.jpeg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
h1 {
    font-size: 2rem;
}
h5 {
    font-size: 1.1rem;
}
p {
    font-size: 1rem;
}
.navbar {
    background-color: rgba(255, 255, 255, 0.96) !important;
    min-height: 7rem;
    border-top: solid var(--main-color) .3rem;
    position: sticky;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    border-bottom-left-radius: var(--global-radius);
    border-bottom-right-radius: var(--global-radius);
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 1.1rem;
    backdrop-filter: blur(6px);
}
.logo {
    max-width: 100px;
}
.active {
    border-bottom: solid black .2rem;
}
.nav-link, .navbar-brand {
    color: black !important;
    transition: all var(--global-transition-time);
}
.nav-link:hover, .active:hover {
    color: var(--main-color) !important;
    border-color: var(--main-color) !important;
}
.content {
    margin-top: 40rem !important;
    border-radius: var(--global-radius);
    background-color: rgba(255, 255, 255, 0.96) !important;
}
.what-we-do {
    border-radius: .5rem;
    background: var(--main-color);
    color: white;
    padding: 2rem;
    min-width: 25%;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    display: flex;
    align-items: center;
    justify-content: center;
}
.testimonials {
    border-radius: var(--global-radius);
}
.bg-dark {
    background-color: rgba(33, 37, 41, 0.96) !important;
}
.card {
    background-color: rgb(255, 255, 255);
}
.testimonial-img {
    max-width: 200px;
    max-height: 200px;
}
.navbar, .content, .testimonials, .footer {
    width: 93%;
}
.footer {
    padding: 2rem;
    background-color: var(--main-color) !important;
    color: white;
    margin-top: 4rem;
    border-top-right-radius: var(--global-radius);
    border-top-left-radius: var(--global-radius);
}
.fa-brands {
    font-size: 2rem;
    color: var(--white);
    transition: all var(--global-transition-time);
}
.fa-brands:hover {
    color: var(--secondary-color);
}
.logo-footer {
    max-width: 150px;
}

@media screen and (max-width: 600px) {
    .navbar, .content, .testimonials, .footer {
        width: 100%;
    }
}